<!DOCTYPE html>
<html>
  <head>
    <title>Askbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application.tsx' %>
    <script>
      window.defaultProjectName = "<%== default_project_name %>"
      window.projectsByName = <%== projects_by_name.to_json %>
      window.openaiModels = <%== openai_models.to_json %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
